<%- include("partials/header-logged.ejs") %>
        <main>
            <div class="container d-flex justify-content-center">
                <h1>Üdvözöllek a <span style="color: var(--primary-color);">SealMTA</span> fórumán, <%= details.username %>! <img src="images/logo.png" alt="" class="logo"></h1>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
<%- include("partials/footer.ejs") %>