<%- include("partials/header-unlogined.ejs") %>
    <main>
        <div class="container d-flex flex-wrap align-items-center justify-content-center form-box">
            <div class="d-flex flex-wrap flex-column align-items-center justify-content-center login">
                <form action="/reset-password/<%= token %>" method="post" class="d-flex flex-wrap flex-column align-items-center justify-content-center mb-3">
                    <h1 class="form-tex">SealMTA</h1>
                    <input type="text" placeholder="Új Jelszó" class="form-input login-input" name="newPassword">
                    <div class="d-flex button-form">
                        <button class="btn bg-sign form-login mx-2" type="submit">Jelszó frissítése</button>
                    </div>
                </form>
                <a href="/" class="register-to register-button">Vissza a bejelentkezéshez</a>
            </div>
        </div>
    </main>
<%- include("partials/footer.ejs") %>